/* [Copyright] */
/* SmartPath v1.0 */
/* Copyright 2014-2015 Mountain Pass Solutions, Inc. */
/* This unpublished material is proprietary to Mountain Pass Solutions, Inc. */
/* [End Copyright] */

.mpsheader-top-container { background: #fec900; }
.mpsfooter-top-container { background: #fec900; }
.mpsheader .navbar-collapse .navbar-nav, .mpsheader .navbar { background-color:#61081a ! important; }
