<!DOCTYPE html>

<html lang="en">
<head>
    <title>Appointments</title>
	{% include header-prologue.html %}
	{% include core-css.html %}
</head>
{% set workflow_list = context.get('workflowlist',{}) %}

<body class="cv-proxy-page">
<div class="container-fluid mps-body">
	{% set context['pageHeaderTitle'] = 'Appointments' %}
	{% include pageHeader.html %}
	<div class="body-content cv-body cv-body-no-menu">
        <div class="page-header clearfix">
			<h1>
				{{ context.get('fullname','') }}<br/>
			</h1>
		</div>
		<form id="mainform" class="form-horizontal" onsubmit="return false;">
            <input type=hidden name="appointmentid" id="appointmentid" value="{{context.get('appointment_id',-1) }}">
            <input type=hidden name="personid" id="personid" value="{{context.get('personid',-1) }}">

            <div class="row">
                <div class="col-md-7">
                    <div class="cv-callout cv-callout-info cv-callout-bordered clearfix">
                        <div class="form-row clearfix">
                            <div class="clearfix form-row">
                                {% set starthidden = 'starthidden' if len(context.get('workflowlist',[])) == 1 else '' %}
                                <div class="clearfix form-row {{starthidden}}">
                                    <label class="col-xs-2 control-label" for="workflow_list">* Workflow:</label>
                                    <div class="col-xs-5">
                                        <select id="workflow_list" name="workflow_list" class="form-control">
                                            {% for wf in context.get('workflowlist',[]) %}
                                                <option value="{{ wf.get('id',0) }}" {{ 'selected="selected"' if len(context.get('workflowlist',[])) == 1 else ''}}>{{ wf.get('descr','') }}</option>
                                            {% end %}-->
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-2 ta-right">
                                    <button class="fire btn btn-primary">Start Credentialing</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
	</div>

{% include footer.html %}
{% include ajax-payload.html %}
{% include core-js.html %}

<script type="text/javascript">
	/*<![CDATA[*/

	(function ($) {

		$('body').on('click', '.fire', function(event){
			var $this = $(this);
			var $appointmentid = $('#appointmentid').val();
			var $workflowid = $('#workflow_list').val();
			var $personid = $('#personid').val();

			var sURL = '/appt/appointment/credential/' + $appointmentid + '/' + $personid + '/' + $workflowid 
			cvApp.ubiquitousPageRequest({
				url: sURL,
				data: JSON.stringify($('#mainform').serializeObject()),
				errorMessage: '#modalerrormessage'
			});
		});

	})(jQuery);

	/*]]>*/
</script>
</div>
</body>
</html>
