<form class="wf-ajax-form" action="{{ context.get('url','') }}" onSubmit="return false;">
	{% set disabled = '' %}
	{% if context.get('disabled', True) %}
		{% set disabled = 'disabled="disabled"' %}
	{% end %}
	{% if context.get('instructional','') %}
		<div class="form-row">
			<p class="col-xs-offset-2 col-xs-8 wf-form-right wf-instructional-text">{{ context.get('instructional','') }}</p>
		</div>
	{% end %}
	{% set prmpts = context.get('prompts',{}) %}
	{% set pi = context.get('initial_form_values', { 'approval_date': context.get('date', '') }) %}

	{% if context.get('date_enabled', False) %}
		{% set prompt = 'approval_date' %}
		{% if prmpts.get(prompt,{}).get('enabled',True) %}{% include 'formChunk_textInput.html' %}{% end %}
	{% end %}

	{% for comment in context.get('comment_prompt_list', []) %}
		<div class="form-row">
			<label class="col-xs-2 text-right" >{{comment.get('comment_label','')}}</label>
			<div class="col-xs-8 wf-form-right">
				<span class="wf-qa-optional">Optional</span>
				<textarea class="form-control" {{disabled}} rows="5" name="{{comment.get('comment_code','')}}"></textarea>
			</div>
		</div>
	{% end %}

	{% include taskActivityLog.html %}

	<div class="wf-details-form-btn-bar col-xs-12">
		<button type="submit" class="wf-widget-form-btn submitBtn btn btn-primary" {{disabled}} data-confirm-msg="{{context.get('data-confirm-msg','')}}">Submit</button>
		{% include 'formChunk_cancelLink.html' %}
	</div>
</form>
