<!DOCTYPE html>

<html lang="en">
<head>
    <title>MPS Login</title>
	{% include header-prologue.html %}
	{% include core-css.html %}
	<link rel="stylesheet" type="text/css" href="/{{skin}}/css/mps-login.css"/>
	<style>
		.cvLoginPage{
			background: url('/{{skin}}/images/login_bg.jpg') no-repeat center center fixed;
        	-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			text-align: center;
			background-color: #283E5A;
		}
	</style>
</head>
{% set isError = True if len(context.get('errormessage','')) > 0 else False %}
{% set isCobrand = True if len(context.get('logincobrand','')) > 0 else True %}
<body class="cvLoginPage">

		<div id="errormessage" class="mps-header-msg {{ 'show' if isError else 'hidden'}}">
			<span class="mps-header-text">{{context.get('errormessage','')}}</span>
			<button class="mps-header-btn">Okay</button>
		</div>

		<form id="logginform" class="form-horizontal" role="form">

			{% if 'guid' in context %}
				<input type="hidden" name="guid" value="{{ context.get('guid', '') }}">
			{% end %}
			{% if 'jobactionid' in context %}
				<input type="hidden" name="jobactionid" value="{{ context.get('jobactionid', '') }}">
			{% end %}
			<input type="hidden" name="site" value="{{context['site']}}"/>

			<img class="mps-login-logo" src="/{{skin}}/images/mps_logo.png" alt="MPS Logo" title="MPS Logo"/>

			<div class="mps-login-cobrand {{ '' if isCobrand else 'hidden'}}">{{context.get('logincobrand','University of Cobrand Testing School')}}</div>

			<input type="text" class="form-control" id="inputUsername" name="username" placeholder="User Name">
			<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
			{% if context.get('promptCommunity', False) %}
				<select class="form-control" id="community" name="community">
					<option value="" selected disabled>Community</option>
					{% for communityDict in context.get('communityList', []) %}
						{% set optionCode = communityDict.get('code','') %}
						<option value="{{optionCode}}">{{communityDict.get('descr','')}}</option>
					{% end %}
				</select>
			{% else %}
				<input type="hidden" name="community" value="default"/>
			{% end %}
			<button id="loginbutton" type="button" class="btn btn-primary btn-login">Sign In</button>
		</form>


{% include footer.html %}
{% include core-js.html %}

<script type="text/javascript">
    /*<![CDATA[*/
	var isUserSubmit = false; // Used to prevent Shake on page rendering with error programmatically (eg session expire) vs. on-user-submit
    var showError = function(data){
    	if(isUserSubmit){ $('#logginform input, #logginform select').effect('shake', {times:2, distance:5}); }
		$('#errormessage .mps-header-text').html(data.error);
		$('#errormessage').slideDown().removeClass('hidden');
		$('#inputUsername').focus();
		return;
	};
    var hideError = function(){
    	$('#errormessage').slideUp().addClass('hidden');
    };

    var loggin = function() {
    	isUserSubmit = true;
        var $form = $('#logginform');
        var url = '{{ context.get('loginURL', '/mps/login') }}';
        $.ajax({ url: url, type: 'POST', headers: { 'Content-Type': 'application/json' },
            data: JSON.stringify($form.serializeObject()),
            success: function(data, textStatus, xhr) {
            	if ('error' in data) {
            		showError(data);
				}
				else{
					hideError();
				}

            	if ('redirect' in data) { window.location.href = data.redirect; }

            }
        });
    };

    $(function() {
        $('#loginbutton').on('click', loggin);

        $('.mps-header-btn').on('click', function(){
        	hideError();
        });

        $('#inputUsername').focus();

        // Fake Form submitting on Enter keys in inputs:
		$('#inputUsername, #inputPassword').keyup(function(event) {
			var keycode = (event.keyCode ? event.keyCode : event.which);
			if(keycode == '13') {
				loggin();
			}
		});

        // Special Session Expiration UX (for after hard redirects in app):
		if(window.location.hash === "#ESI"){
			var data = {};
			data.error = 'Your session expired or was terminated.  Please Login again to continue.';
			showError(data);
			window.location.hash = '';
		}
    });

    /*]]>*/
</script>
{% if context.get('envCode', 'dev') != 'dev' %}
	{% include google_analytics.html %}
{% end %}
</body>
</html>