<p>By applying for appointment, reappointment and/or clinical privileges at the University of Michigan Health 
System("UMHS"), <span style="font-style:italic">I accept the following conditions and intend to be legally bound 
by them, regardless of whether or not my application is granted</span>. These conditions will remain in effect for 
the duration of any appointment that I may be granted and, as applicable, to third party inquiries received after 
I leave UMHS:</p>
<ol>
  <li>I authorize the University of Michigan, including all University Regents, faculty, staff, and authorized 
  representatives (the "University") to: (i) review any University information and consult with any third 
  parties who may have information bearing on my professional qualifications, clinical competence, character, 
  ability to perform safely and competently, ethics, behavior, or any other matter reasonably having a bearing 
  on my qualifications for appointment or reappointment to the UMHS medical staff or for clinical privileges 
  (my "Credentials"); and (ii) request and obtain any and all communications, reports, records, statements, 
  documents, recommendations, evaluations, or disclosures of the University and third parties that may be relevant 
  to these questions. These third parties may include, but are not limited to, educational institutions, health care 
  providers, or payors where I have trained or worked, or with whom I otherwise have been affiliated; licensing and 
  certification boards; professional societies; professional liability insurers, carriers, and administrators; and 
  government agencies with jurisdiction. <span style="font-weight:bold; text-decoration:underline">I specifically 
  authorize these third parties to release this information to the University upon request</span>.</li> 
  <li>I also <span style="font-weight:bold; text-decoration:underline">authorize the University to release such 
  information to third parties</span> who request it for the purpose of evaluating my Credentials pursuant to a 
  request for appointment, reappointment, clinical privileges, participating provider status, licensure, 
  certification, or other credentialing activities.</li>
  <li>To the fullest extent permitted by law, <span style="font-weight:bold; text-decoration:underline">I release 
  from liability the University</span> and appropriate third parties for actions taken in good faith relating to my 
  UMHS Medical Staff appointment, reappointment, clinical privileges, participating provider status, licensure, 
  certification, or my Credentials for same. This includes any and all communications, reports, records, statements, 
  documents, recommendations, evaluations, or disclosures of the University and third parties.</li> 
  <li>Unless otherwise required by the terms of a collective bargaining agreement, I agree that the Fair Hearing Plan 
  described in the Medical Staff Bylaws' Rules and Regulations will be my 
  <span style="font-weight:bold; text-decoration:underline">sole and exclusive remedy</span> for an adverse ruling 
  made with respect to UMHS Medical Staff membership, Staff status or clinical privileges, regardless of whether I am 
  an initial applicant or current member. I agree to abide by the UMHS Medical Staff Bylaws and the Fair Hearing Plan. 
  <a target="_blank" href="http://www.med.umich.edu/mss/pdf/bylaws.pdf">http://www.med.umich.edu/mss/pdf/bylaws.pdf</a></li>
  <li>If, notwithstanding my promises above, I institute legal action against the University and do not prevail, 
  <span style="font-weight:bold; text-decoration:underline">I acknowledge I may be obligated to reimburse the 
  University</span> (including any <span style="font-weight:bold; text-decoration:underline">individuals who are 
  named</span> in the action) for University costs incurred in defending that action,including reasonable attorneys' fees.</li>
</ol>