<body>
	<div>
		<ol>
			<li>I understand that at my request, University of Michigan Health System ("UMHS") will provide me with a copy of any disqualifying record information found on any of the relevant registries or databases.</li>
			<li>I understand that if I believe the results of  any disqualifying record information found on any relevant registry or database is inaccurate, it is my responsibility to correct the record information by directly contacting the appropriate registry/database owner.</li>
			<li>I understand that if I believe the results of the criminal history fingerprint record are inaccurate, or if a conviction contained in the criminal history record is one that may be expunged or set aside, I may file an appeal of any statutory work disqualification to the appropriate state licensing or regulatory department.</li>
			<li>I understand that if I believe the results of the urine drug test to be inaccurate, I may contact the Medical Review Officer to request reanalysis testing. </li>
		</ol>
	</div>
</body>
