<body>
	<div>
		If the University of Michigan Health System ("UMHS") decides to employ, appoint me, or grant me membership/clinical privileges pending the results of the background checks described above on page 1, I understand the following:
		<ol>
			<li>Inaccurate or incomplete disclosures are good cause for termination of employment, appointment and/or membership/clinical privileges.  If the background check does not confirm my disclosure statements made above, my employment, appointment and/or membership/clinical privileges may be terminated, unless I successfully prove that the disqualifying information is inaccurate.  I may also be subject to criminal sanctions.</li>
			<li>As a condition of my continued employment or work at UMHS and/or continued medical staff membership and clinical privileges, I will report in writing to the UMHS Compliance Office and my supervisor (or, in the case of a faculty member, my Department Chair) immediately if:
				<ul>
					<li type="a">Any information provided in the Disclosures section above changes; or</li>
					<li type="a">I am arraigned for any crime described in the "Legal Guide" available at <a target='_blank' href='https://miltcpartnership.org/Documents/LegalGuide.pdf'>https://miltcpartnership.org/Documents/LegalGuide.pdf</a>, as applicable; or</li>
					<li type="a">I am notified of any government investigation of me in connection federal health care programs or federal contracts.</li>
				</ul>
				I understand that reporting such an event is not necessarily cause for termination or denial of employment, appointment, membership and/or privileges;  but failure to make a timely report may result in disciplinary action against me up to and including dismissal (and/or, as applicable suspension or revocation of membership/clinical privileges).
			</li>
		</ol>
	</div>
</body>
