<!DOCTYPE html>
<html lang="en">
<style>
	body {
		font-size: 13px;
		font-family: "Arial", Verdana, sans-serif;
	}
	tr:nth-child(odd) {
		background-color: #EEEEEE;
	}
	table {
		border-collapse: collapse;
		width:100%;
	}
</style>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body style='height:50px;overflow:hidden;margin:0;padding:0;'>

    {% for form in context.get('forms',[]) %}
    	{% set headerImageURL = context.get('header_image_url','') %}
        {% if headerImageURL %}
            <div style="margin-bottom: 10px;">
                <img style="height: 30px" src="{{headerImageURL}}"/>
            </div>
        {% end %}
        <center><h3 style="margin-bottom:0em;">Application for Appointment to the Medical Staff</h3></center>
        <center>
            <p>
                <b>{{form.get('header','')}}</b>
                <br/>{{context.get('candidateName','')}}
                <br/>Proposed Department: {{context.get('department','')}}
            </p>
        </center>
        {% for group in form.get('uberContent',[]) %}
            {% set groupDescr = group.get('groupdescr','')%}
            {% if groupDescr %}
                {% raw groupDescr %}
            {% end %}
            {% if str(form.get('header','')) == 'Supplemental Questions'%}
                <table cellpadding="8">
                    {% for item in group.get('items',{}) %}
                        <tr style="background-color: #FFFFFF;">
                            {% set columnWidth = context.get("printLabelColumnWidth","500px")%}
                            <td valign="top" width="{{columnWidth}}">{% raw item.get('label','') %}</td>
                            <td valign="top">{% raw item.get('value','') %}</td>
                        </tr>
                    {% end %}
                </table>
            {% else %}
                <table cellpadding="8">
                {% for item in group.get('items',{}) %}
                    <tr>
                        {% set columnWidth = context.get("printLabelColumnWidth","500px")%}
                        <td valign="top" width="{{columnWidth}}">{% raw item.get('label','') %}</td>
                        <td valign="top">{% raw item.get('value','') %}</td>
                    </tr>
                {% end %}
                </table>
            {% end %}
        {% end %}
        <p style="page-break-after:always;"></p>
	{% end %}
</body>
</html>
