<div class="evaluatoremail" style="font-size: 10pt; line-height: 14px; max-width: 650px; padding-top: 20px;">
	{% set evaluator = context.get('evaluator',{}) %}
	{% set evaluatorFullName = evaluator.get('full_name','') %}
	{% set evaluatorDegree = evaluator.get('degree','') %}
	{% set evaluatorInstitution = evaluator.get('institution','') %}
	{% set evaluatorIsExternal = evaluator.get('evaluator_type_is_external',True) %}
	{% set evaluatorIsInternal = not evaluatorIsExternal %}
	{% set evaluatorIsArmsLength = evaluator.get('evaluator_type_is_arms_length',True) %}
	{% set department = context.get('department',{}) %}
	{% set departmentChairs = department.get('department_chair',[]) %}

	{% set headerImageURL = department.get('header_image_url','') %}
	{% if headerImageURL %}
	<div>
		<img style="height: 40px" src="{{headerImageURL}}"/>
	</div>
	{% end %}

	<div style="padding: 10px 0 0 78px; font-style: italic; font-weight: bold; font-size: 8pt;">
		<b>Medical Staff Services</b><br/>
		2500 Green Rd., Ste. 700<br/>
		Ann Arbor, MI 48105-1597<br/>
		&nbsp;<br/>
		(734) 647-6865<br/>
		(734) 936-9757 fax<br/>
	</div>

	<div style="padding: 20px 0 0 10px; clear: both;">
		<div class="toaddress">
			<p>
				{{evaluatorFullName}}, {{evaluatorDegree}}<br/>
				{% for titleLine in evaluator.get('titles',[]) %}
					{{titleLine}}<br/>
				{% end %}
				{{evaluatorInstitution}}<br/>
			</p>
		</div>

		{% set evaluatorSalutation = evaluator.get('salutation','') %}
		{% set evaluatorLastName = evaluator.get('last_name','') %}
		<div class="letterbody">
			<p>{{evaluatorSalutation}} {{evaluatorLastName}}:</p>
			{% set person = context.get('person',{}) %}
			{% set personLastName = person.get('last_name','') %}
			{% set personFullName = person.get('full_name','') %}
			{% set personDrSoAndSo = 'Dr. ' + personLastName %}
			{% set personDrSoAndSoPossessive = 'Dr. ' + person.get('last_name_possessive','') %}
			{% set title = context.get('title',{}) %}
			{% set track = context.get('track',{}) %}
			{% set department = context.get('department',{}) %}
			{% set isClinicalInstructor = 'CLINICAL_INSTRUCTOR' in title.get('tags','').upper() %}
			{% set isResearchInvestigator = 'RESEARCH_INVESTIGATOR' in title.get('tags','').upper() %}
			{% set isResearch = 'RESEARCH' in track.get('tags','').upper() %}
			{% set isClinical = 'CLINICAL' in track.get('tags','').upper() %}
			{% set isInstructional = 'INSTRUCTIONAL' in track.get('tags','').upper() %}
			{% set isLecturer = 'LECTURER' in track.get('tags','').upper() %}
			{% set isFacTrack = isResearch or isClinical or isInstructional %}
			{% set isEntryLevel = isLecturer or isClinicalInstructor or isResearchInvestigator %}
            <p>
				Note - awaiting requirements for the content of this letter.
			</p>

			<p>
				I am writing to request your appraisal of Dr. {{personFullName}}, who we are considering appointing as {{title.get('descr','')}}
				in the Department of {{department.get('full_descr','')}}
				at the University of Michigan Hospitals and Health Centers.
			</p>
			<p>
			Please assess the applicant's competency to perform the requested privileges by completing the Online Assessment. The applicant has applied for Medical Staff membership at the University of Michigan Hospitals. The information provided will be confidential. Please contact the Office of Clinical Affairs, Medical Staff Services at (734) 647-6865 (address: 2500 Green Rd, Ste 700, Ann Arbor, MI 48105-1597) if you wish to discuss the applicant with a member of the Credentials Committee or contact the appointing Department Chairperson directly. The requested information will assist the appointing Department Chairperson and the Credentials Committee in evaluating the recommended appointment for medical staff membership. <b>PLEASE NOTE: This Assessment is a requirement for consideration of medical staff membership at the University of Michigan Hospitals.</b>
			</p>

			<p>We would appreciate your frank appraisal of {{personDrSoAndSo}} by completing the on-line assessment form found at this website:</p>

            <p><a href="{{context.get('packet_url','')}}" target="_blank">Click Here to download Candidate Packet</a></p>
			<p><a href="{{context.get('upload_url','')}}" target="_blank">Click Here to Upload Letter</a></p>

			<p>
			{{personDrSoAndSo}} has signed a document authorizing the University of Michigan to perform this inquiry and releasing from liability any person responding to such an inquiry. A copy of the release is on file at the UMHHC Medical Staff Services Office. Moreover, the University protects the confidentiality of all peer review records, including records relied upon during the medical staff credentialing process, consistent with Michigan law. See, e.g., MCLA 330.531, MCLA 330.533, MCLA 333.20175, MCLA 333.21513, and MCLA 333.21515. As a matter of policy, the University will never release such records absent a judicial or administrative order requiring their disclosure, which the University will attempt to contest absent the drafter's explicit agreement to disclose.
			</p>
			<p>Best wishes and many thanks.</p>
			<p>
				James Ellis, MD<br/>
				Credentialing Committee Chair<br/>
				The University of Michigan Hospitals and Health Centers
			</p>
		</div>
	</div>
</div>